<div class="rounded overflow-hidden mb-2">
    <!-- <img class="img-fluid" [src]="course.imagename" alt=""> -->
    <img class="img-fluid course-image" src="../../../assets/Images/{{course.imagename}}">
    <div class="bg-secondary p-4">
        <div class="d-flex justify-content-between mb-3">
            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i> Name :{{ course.name }} Students</small>
            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{ course.createddate }}</small>
        </div>
        <!-- <a class="h5" href="">{{ course.title }}</a> -->
        <div class="border-top mt-4 pt-4">
            <div class="d-flex justify-content-between">
                <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>{{ course.rating }} <small>({{ course.reviews }})</small></h6> -->
                <h5 class="m-0"> Price:{{ course.price }} $</h5>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary" (click)="openBookDailog(course.id ,userId)">Book</button>
   
            </div>
        </div>
    </div>
</div>

<ng-template #bookDailog>          
    <h1 mat-dialog-title>Enrollment </h1>
    <div mat-dialog-content>
        Do you want to enrollment in this course?
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close="no">No</button>
      <button mat-button mat-dialog-close="yes" cdkFocusInitial>Yes</button>
    </div></ng-template> 

