<app-studentnavbar></app-studentnavbar>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">

      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">


           
              <img src="../../../assets/AdminTemp/images/logos/logo.png" width="180" alt="">
           
            <p class="text-center">Payment Form </p>
            <!-- <form [formGroup]="PaymentForm">
              <div class="mb-3">
                <label for="Fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="FirstName" formControlName="FirstName" aria-describedby="textHelp">
                <span class="text-danger" 
                *ngIf="PaymentForm.controls['FirstName'].hasError('required')">Your First Name is required</span>
              
              </div>
              <div class="mb-3">
                <label for="Lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="LastName" formControlName="LastName" aria-describedby="textHelp">
                <span class="text-danger" 
                *ngIf="PaymentForm.controls['LastName'].hasError('required')">Your Last Name is required</span>
              
              </div>
              <div class="mb-3">
                <label for="exampleInputtext3" class="form-label">CardNumber</label>
                <input type="text" class="form-control" id="exampleInputtext3"formControlName="CardNumber" aria-describedby="emailHelp">
              
               <span class="text-danger" 
              *ngIf="PaymentForm.controls['CardNumber'].hasError('required')">CardNumber is required</span>
            
              </div>
              <div class="mb-3">
                <label for="exampleInputtext3" class="form-label">Cvv</label>
                <input type="number" class="form-control" id="exampleInputtext3"formControlName="Cvv" aria-describedby="emailHelp">
              
               <span class="text-danger" 
              *ngIf="PaymentForm.controls['Cvv'].hasError('required')">Cvv is required</span>
            
              </div>

              <div class="mb-3">
                <label for="exampleInputtext3" class="form-label">ExpiryDate</label>
                <input type="date" class="form-control" id="exampleInputtext3"formControlName="ExpiryDate" aria-describedby="emailHelp">
              
               <span class="text-danger" 
              *ngIf="PaymentForm.controls['ExpiryDate'].hasError('required')">ExpiryDate is required</span>
            
              </div>


               <button  [disabled] ="!PaymentForm.valid"  type="button"  
              data-mdb-button-init  data-mdb-ripple-init 
              class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" 
              (click)="p.stdPayment(PaymentForm.value)" >
               *** routerLink= "/student" ****
              sumbit

            </button> 
              
             *** <div class="d-flex align-items-center justify-content-center">
                <a class="text-primary fw-bold ms-2" routerLink= "">Go back</a>
              </div> ***
            </form> -->
            <form [formGroup]="PaymentForm" (ngSubmit)="submitPayment()" class="payment-form">
              <div class="mb-3">
                <label for="Fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="FirstName" formControlName="FirstName">
                <span class="text-danger" *ngIf="PaymentForm.controls['FirstName'].hasError('required')">Your First Name is required</span>
              </div>
              <div class="mb-3">
                <label for="Lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="LastName" formControlName="LastName">
                <span class="text-danger" *ngIf="PaymentForm.controls['LastName'].hasError('required')">Your Last Name is required</span>
              </div>
              <div class="mb-3">
                <label for="CardNumber" class="form-label">Card Number</label>
                <input type="text" class="form-control" id="CardNumber" formControlName="CardNumber">
                <span class="text-danger" *ngIf="PaymentForm.controls['CardNumber'].hasError('required')">Card Number is required</span>
              </div>
              <div class="mb-3">
                <label for="Cvv" class="form-label">CVV</label>
                <input type="number" class="form-control" id="Cvv" formControlName="Cvv">
                <span class="text-danger" *ngIf="PaymentForm.controls['Cvv'].hasError('required')">CVV is required</span>
              </div>
              <div class="mb-3">
                <label for="ExpiryDate" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="ExpiryDate" formControlName="ExpiryDate">
                <span class="text-danger" *ngIf="PaymentForm.controls['ExpiryDate'].hasError('required')">Expiry Date is required</span>
              </div>
              <button [disabled]="!PaymentForm.valid" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                Submit
              </button>
            </form>
            <button class="btn btn-primary" (click)="goback()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <app-footer></app-footer>



<ng-template #callBookDailog>          
  <h1 mat-dialog-title>Confirm Booking </h1>
  <div mat-dialog-content>
      Do you want to enrollment in this course?
  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button mat-dialog-close="no">No</button> -->
    <button mat-button mat-dialog-close="yes" cdkFocusInitial>Yes</button>
  </div></ng-template> 

  
