<app-sidebar></app-sidebar>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div class="body-wrapper">
    <div class="container-fluid">
<div class="row">

    <div class="col-lg-8 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          <h5 class="card-title fw-semibold mb-4">view All Trainer</h5>
          <div class="table-responsive">
            <table class="table text-nowrap mb-5 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">UserName</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">First Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Last Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Email</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">imagename</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">certificate</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">specialization</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">gender</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Phone</h6>
                  </th>
                  <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Status</h6></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let all2 of admin3.viewT">
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{all2.username}}</h6></td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{all2.fname}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{all2.lname}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{all2.email}}</p>
                  </td>
                  <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2">
                      <img src="../../../assets/Images/{{all2.imagename}}" style="width: 100%;">
                    </div>
                  </td>
                  <td class="border-bottom-0">
                    <img src="../../../assets/Images/{{all2.certificate}}" style="width: 100%;">
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4">{{all2.specialization}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4">{{all2.gender}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4">{{all2.phone}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{all2.id}}" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ getStatusLabel(all2.Registration_Status_Trainer) }}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end" [attr.aria-labelledby]="'dropdownMenuButton' + all2.id">
                        <li *ngFor="let status of statusOptions">
                          <a class="dropdown-item" href="#" (click)="onStatusChange(all2, status.value); $event.preventDefault()">{{status.label}}</a>
                        </li>
                      </ul>
                    </div>
                  </td>
        
                </tr>
                   
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
</div> 



  

