<app-navbar></app-navbar>

     <!-- Header Start -->
     <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <!-- <h3 class="display-4 text-white text-uppercase">Contact</h3> -->
                <h3 class="display-3 text-white text-uppercase text-center">Courses</h3>

                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row"> 
                <ng-container *ngFor="let obj of MM.courses">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <app-course-card [course]="obj"></app-course-card>
                    </div>
                </ng-container>
            </div> 
        </div>
    </div>

<app-footer></app-footer>
